*{
    margin: 0px;
    padding: 0px;
}

#nav1 {
    margin: 0;
    padding: 0;
    background-color: #10243B;
    padding-bottom: 15px;

}

#nav1 li {
    list-style-type: none;
    display: inline;
    border: 0px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    margin: 0 12px;
}


#nav1 {
    width: 91%;
    background-color: #10243B;
}





#herosec {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/fans.jpg);
    /* background-image: url(images/fans.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#herocontent{
    position: relative;
    top: 150px;
    left: 50px;
    color: white;
    display: inline;
}

#herotext{
    padding: 50px 0 0 25px;
}

#herotext h1{
    font-size: 2.33em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration-style: solid;
}

#herotext h4{
    font-family: 'PT Sans Narrow', sans-serif;  
    font-style: italic;  
}


   
    
    


#nav1
#bluenavbar {
    height: 35px;
    padding: 5px 0 30px 0;


}


#nav1 li:nth-child(n+8){
    color: #a3dde8;
    font-weight: lighter !important;
    font-size: 0.8em;
    margin: 0 10px !important;
    padding-right: 10px;
}

#nav1 img{
    height :40px;
}

#bluenavbar{
    background-color: #0088cc;
    width: 9%;
    height: 59px;
}

#bluenavbar{
    display: inline-block;
}


.left {
    float: left;
}

#navbardivider{
    height: 70px;
    width: 3px;
    margin: 0px;
    background-color: white;
}